
.navbar {
    background-color: #066F1E;
}

.quemm-somos {
    background-color: #02abad;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #667c06;
}

.bg-footer {
    background-color:black
    color:black
}